@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
   box-sizing: border-box;
}

@layer components {
    .iconDiv{
        @apply w-[50px] h-[50px] rounded-2xl bg-[#3B3B3B] grid place-items-center 
    }
}

.plusShadow{
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.40)) drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.40));

}